<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Atividade 02 - Angular</title>

  </head>
  <body>

    <mat-toolbar color="primary">
      <span class="cor">Jogo da Sorte</span>


    </mat-toolbar>

      <div class="jogo">
        <h1>Vamos jogar?</h1>

      </div>

      <div class="regras">
        <h2>Como jogar</h2>
          <p class="txtp">Teste sua sorte! Digite um número entre 1 a 100. O sistema gerará
            um número aleatório a cada jogada e lhe informará se você acertou ou não. Muito simples.
          </p>
      </div>

    <a href="#"><button mat-button>Home</button></a>
    <a href="jogo/sorteio/"><button mat-button>Vamos testar sua sorte?</button></a>

    <div class="principal">

    <router-outlet></router-outlet>

    </div>

  </body>


</html>





